<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB73Y-Aqno9Z3TMaTeJNxNuCOs7hKUcAi0</string>
	<key>GCM_SENDER_ID</key>
	<string>932879788460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blockArch.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-bloc-6ce04</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-bloc-6ce04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932879788460:ios:f91d48bf42d47061883209</string>
</dict>
</plist>